/*@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Ephesis&family=Roboto+Condensed:ital,wght@1,100display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Ephesis&family=Jost:ital@1&family=Roboto+Condensed&family=Varela+Round&display=swap');

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: "Varela Round", Helvetica, sans-serif;
    margin: 0;
}

/*--------------------------------
Header styling small view
---------------------------------*/
.headerTag{
    display: flex;
    flex-flow: column;
    text-align: center;
}

.headerImgContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.logoImg{
    max-width: 150px;
}

.logoTitle, .footerLogoTitle{
    color: #8e3912;
    /*color: #FA824C;*/
    margin: 0;
    font-family: "Ephesis";
}

.navUl{
    display: none;
    padding: 0px;
    border-radius: .5em;
}

.navUl.responsive{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navLi{
    /*background-color: #1A57A8;*/
    background-color: #012a3c;
    color: #ffffff;
    list-style-type: none;
    padding: 1em;
    transition: transform 0.3s ease;
    border-radius: .5em;
    flex: 1;
}

.navLi:hover{
    background-color: #FA824C;
    color: #ffffff;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    display: contents;
}

.navMenuContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: #012a3c;
    padding:  .4em .7em .4em .7em;
    margin:  0;
    color: #ffffff;
}

#navMenu{
    margin: 0;
}

#burger{
    font-size: 2em;
}

.navMenuButton{
    border: none;
    border-radius: .2em;
    padding: 0 .3em 0 .3em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navMenuButton:hover{
    transform: scale(1.2);
}


/*--------------------------------
Main styling small view
---------------------------------*/
.mainTag{
    background-color: #011822;
}


.mainTitle{
    text-align: center;
    background-color: rgb(88, 22, 22);
    /*background-color: #012a3c;*/
    color: #ffffff;
    padding: .4em;
    font-family: "Roboto Condensed";
}

.movieCatalogContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    flex: 1 auto;
    margin: .5em;
    /*gap: 2em;*/
}

.movieCatalog{
    max-width: 300px;
    border-radius: .5em;
    background-color: #012a3c;
    text-align: center;
    font-size: .7em;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.movieCatalog:hover{
    transform: scale(1.1);
}

.movieTitle{
    margin: .2em;
}

.movieImg{
    width: 100%;
    min-height: 450px;
    min-width: 300px;
    border-radius: .5em;
}

.moviesLink{
    color: #ffffff;
}

.movieInfoContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.movieImgContainer{
    max-width: 300px;
    border-radius: .5em;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 1em;
}
/*.movieImgContainer:hover{
}*/

.MovieDetailsContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: left;
    margin: 2em;
    color: #ffffff;
}

.videoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.movieTrailer{
    width: 350px;
    height: 200px;
}

.searchDiv{
    text-align: center;
    margin: 1em;
}

.searchLabel{
    color: #ffffff;
    text-align: center;
}

.searchInput{
    padding: .2em;
}

.movieSearchContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: .5em;
    color: #ffffff;
    gap: 0.5em;
}

.movieSearched{
    max-width: 200px;
    min-height: 340px;
    border-radius: .5em;
    background-color: #012a3c;
    text-align: center;
    font-size: .7em;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.movieSearched:hover{
    transform: scale(1.1);
}


.movieImgSearch{
    width: 100%;
    min-width: 200px;
    border-radius: .5em;
}

/*--------------------------------
Footer styling small view
---------------------------------*/

.footerTag{
    background-color: #011822;
}

.fContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.footerImgContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.footerInfContainer{
    text-align: center;
    padding: 1em;
    color: #ffffff;
}

.footerLogoImg{
    max-width: 100px;
    border-radius: .5em;
    margin: .7em;
}

.footerLogoTitle{
    color: #b15d36;
}


/*--------------------------------
Screen Greater than 768px
---------------------------------*/
@media only screen and (min-width: 768px) {

/*--------------------------------
Header styling Large view
---------------------------------*/
    .headerTag{
        flex-flow: row;
        gap: 3em;
    }

    .navClass{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 auto;
    }

    .navUl{
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 1 auto;
        border-radius: 0.5em;
    }

    .navMenuContainer{
        display: none;
    }

    .navUl.responsive{
        display: flex;
        flex-direction: row;
    }

/*--------------------------------
Main styling Large view
---------------------------------*/
    .mainTitle{
        margin: 0;
    }

    .movieInfoContainer{
        flex-flow: row;
        align-items: normal;
    }

    .movieTrailer{
        width: 700px;
        height: 430px;
    }



/*--------------------------------
Footer styling Large view
---------------------------------*/
    .footerInfContainer{
        text-align: left;
    }
}