/*@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Ephesis&family=Roboto+Condensed:ital,wght@1,100display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Ephesis&family=Jost:ital@1&family=Roboto+Condensed&family=Varela+Round&display=swap');

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: "Varela Round", Helvetica, sans-serif;
    margin: 0;
}

/*--------------------------------
Header styling small view
---------------------------------*/
.alert{
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
    width: 100%;
    text-align: center;
}

.headerTag{
    display: flex;
    flex-flow: column;
    text-align: center;
}

.headerImgContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.logoImg{
    max-width: 150px;
}

.logoTitle, .footerLogoTitle{
    color: #8e3912;
    /*color: #FA824C;*/
    margin: 0;
    font-family: "Ephesis";
}

.navUl{
    display: none;
    padding: 0px;
    border-radius: .5em;
}

.navUl.responsive{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
}

.navLi{
    /*background-color: #1A57A8;*/
    background-color: #012a3c;
    color: #ffffff;
    list-style-type: none;
    padding: 1em;
    transition: transform 0.3s ease;
    border-radius: .5em;
    flex: 1;
}

.navLi:hover{
    background-color: #FA824C;
    color: #ffffff;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    display: contents;
}

.navMenuContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: #007aaf;
    padding:  .4em .7em .4em .7em;
    margin:  0;
    color: #ffffff;
}

#navMenu{
    margin: 0;
}

#burger{
    font-size: 2em;
}

.navMenuButton{
    border: none;
    border-radius: .2em;
    padding: 0 .3em 0 .3em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navMenuButton:hover{
    transform: scale(1.2);
}


/*--------------------------------
Main styling small view
---------------------------------*/
.mainTag{
    background-color: #011822;
}


.mainTitle{
    text-align: center;
    background-color: rgb(88, 22, 22);
    color: #ffffff;
    padding: .4em;
    font-family: "Roboto Condensed";
}

.mainTitleAboutUs{
    text-align: center;
    background-color: rgb(88, 22, 22);
    color: #ffffff;
    padding: .4em;
    font-family: "Roboto Condensed";
    margin-bottom: 0;
}

.movieCatalogContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: .5em;
    row-gap: 1.5em;
}

.movieCatalog{
    position: relative;
    max-width: 300px;
    border-radius: .5em;
    background-color: #012a3c;
    text-align: center;
    font-size: .7em;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.movieCatalog:hover{
    transform: scale(1.1);
    z-index: 1;
}

.myListBack{
    position: absolute;
    background-color: #011822;
    opacity: 0.3;
    width: 100%;
    max-width: 300px;
    height: 22px;
}

.myListBackSearch{
    position: absolute;
    background-color: #011822;
    opacity: 0.3;
    width: 100%;
    max-width: 200px;
    height: 22px;
}

.myListCross{
    position: absolute;
    left: 16.5em;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.myListCrossSearch{
    position: absolute;
    font-size: 1.5em;
    margin-left: .2em;
    padding: 0;
}

.myListCrossDetails{
    position: absolute;
    left: 17.5em;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.myListLink{
    color: #ffffff;
}

.movieTitle{
    margin: .2em;
}

.movieImg{
    width: 100%;
    min-height: 450px;
    min-width: 300px;
    border-radius: .5em;
}

.moviesLink{
    color: #ffffff;
}

.movieInfoContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.movieImgContainer{
    position: relative;
    max-width: 300px;
    border-radius: .5em;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 1em;
}
/*.movieImgContainer:hover{
}*/

.MovieDetailsContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: left;
    margin: 1em;
    padding: 1em;
    color: #ffffff;
    background-color: #000d11;
    border-radius: .5em;
}

.videoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    padding: 2em;
}

.movieTrailer{
    width: 350px;
    height: 200px;
}

.searchDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.searchLabel{
    font-size: 2em;
}

.searchInput{
    text-align: center;
    padding: .2em;
    font-size: 1rem;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding: .75rem;
    color:#ffffff;
    width: 85%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.movieSearchContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: .5em;
    color: #ffffff;
    gap: 0.5em;
    min-height: 40rem;
}

.movieSearched{
    max-width: 200px;
    min-height: 340px;
    border-radius: .5em;
    background-color: #012a3c;
    text-align: center;
    font-size: .7em;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.movieSearched:hover{
    transform: scale(1.1);
    z-index: 1;
}


.movieImgSearch{
    width: 100%;
    min-width: 200px;
    border-radius: .5em;
}


.movieWishListContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    margin: .5em;
    color: #ffffff;
    gap: 0.5em;
}

.wishListContainer{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.movieImgContainerWishList{
    width: 200px;
    border-radius: .5em;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 1em 0 1em;
    grid-column: 1/2;
}

.movieImgWishList{
    width: 100px;
    border-radius: .5em;
}

.MovieDetailsContainerWishList{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: left;
    margin: 1em;
    padding: 1em;
    color: #ffffff;
    background-color: #000d11;
    border-radius: .5em;
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: .8em;
}

.movieTitleInfoWishList, .descriptionWishList{
    margin: .2em;
}

.myListHyphen{
    font-size: 2.5em;
    color: #ffffff;
    margin: .5em;
    grid-column: 2/3;
    grid-row: 1/2;
}

.movieBannerAbout{
    width: 100%;
}

.whoWeAre{
    color: #ffffff;
    padding: 2em;
}

.whoWeAreTitles{
    color: #db8157;
}

/*--------------------------------
Form styling small view
---------------------------------*/

.formContainer{
    background-color: #ffffff;
    padding: .5em;
}

fieldset{
    padding-right: 0;
}

.formLabel{
    display: block;
    font-size: 1rem;
    color:#3a3a3a;
    margin: .5rem 0 .5rem .5rem;
}

form .formInput{
    display: block;
    font-size: 1rem;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding: .75rem;
    color: #3a3a3a;
    width: 85%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.formButton{
    padding: 0.5rem;
    background-color: #1B4D79;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #3a3a3a;
    margin: 1rem 0 1rem 1rem;
    width: 80%;
    max-width: 20rem;
    cursor: pointer;
}

.formLegend{
    font-size: 2em;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid{
    border-left: 6px solid red;
}

input:required:valid, textarea:required:valid{
    border-left: 6px solid green;
}

/*--------------------------------------------*/
.contactInfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: top;
    background-color: lightgrey;
    gap: 1em;
}

.contactInfoDivs{
    width: 17rem;
    padding: 1em;
}

.animatedPopCornContainer{
    display: none;
}

.animatedPopCorn{
    width: 200px;
    position: relative;
    animation: moveAround 4s linear infinite;
    border-radius: 50%;
}

@keyframes moveAround {
    0%{
        transform: translateX(0) translateY(0);
    }
    25%{
        transform: translateX(-100px) translateY(0);
    }
    50%{
        transform: translateX(50px) translateY(50px);
    }
    75%{
        transform: translateX(-100px) translateY(0px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

/*--------------------------------
Footer styling small view
---------------------------------*/

.footerTag{
    background-color: #011822;
}

.fContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.footerImgContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.footerInfContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: #ffffff;
}

.footerLogoImg{
    max-width: 100px;
    border-radius: .5em;
    margin: .7em;
}

.footerLogoTitle{
    color: #b15d36;
}

.socialMediaContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 2.2rem;
    gap: 2em;
}

.socialMediaIcon{
    max-width: 100%;
    border-radius: .5em;
}


/*--------------------------------
Screen Greater than 768px
---------------------------------*/
@media only screen and (min-width: 768px) {

/*--------------------------------
Header styling Large view
---------------------------------*/
    .headerTag{
        flex-flow: row;
        gap: 3em;
    }

    .navClass{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 auto;
    }

    .navUl{
        display: flex;
        flex-flow: row;
        align-items: center;
        flex: 1 auto;
        border-radius: 0.5em;
    }

    .navMenuContainer{
        display: none;
    }

    .navUl.responsive{
        display: flex;
        flex-direction: row;
    }

/*--------------------------------
Main styling Large view
---------------------------------*/
    .mainTitle{
        margin: 0;
    }

    .movieInfoContainer{
        flex-flow: row;
        align-items: normal;
    }

    .movieTrailer{
        width: 700px;
        height: 430px;
    }


    .formContainer{
        padding: 2em;
    }

    fieldset{
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 300px;
    }

    .animatedPopCornContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formLabel{
        margin-left: 1rem;
    }

    .wishListContainer {
        display: flex;
        flex-flow: row;
    }

    .movieImgContainerWishList {
        margin: 1em;
    }

    .myListHyphen{
        margin: 1em 2em;
    }

    .MovieDetailsContainerWishList{
        font-size: .8em;
    }


/*--------------------------------
Footer styling Large view
---------------------------------*/
    .footerInfContainer{
        text-align: left;
    }
}